<div class="row">
  <div class="col-4">
    <hr>    
    <h1>
      Inicio
    </h1>
    <hr>>
  </div>

  <div class="col-6">
    <div *ngIf="clientes.length !== 0">     
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Salario</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let cliente of clientes">
          <tr> 
            <td>{{cliente.nome}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.salario}}</td>
            <td>
              <button>
                Aprovar
              </button>
              <button>
                Recusar
              </button>
            </td>
          </tr>          
        </tbody>
      </table>
    </div>
    <p *ngIf="clientes.length === 0">Nenhum Cliente Aguardando Aprovação</p>
  </div>
</div>