<div class="row">
  <div class="col-4">
    <hr>    
    <h1>
      Inicio
    </h1>
    <hr>>
  </div>

  <div class="col-6">
    <!-- Tabela -->
    <div>     
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Salario</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr> 
            <td>Joao</td>
            <td>
              <span>123.456.789-00</span>
            </td>
            <td>
              <span>duas bala juquinha</span>
            </td>
            <td>
              <button>
                Aprovar
              </button>
                <button>
                Recusar
              </button>
            </td>
          </tr>
          
          <tr>
            <td colspan="5">
              Nenhum resultado encontrado
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>