<div class="row mainRosa justify-content-evenly">
  <div class="col-lg-5 d-flex flex-column justify-content-center">
    <div class="imgLine">
      <hr />
      <img
        src="../../../../assets/img/img1.png"
        alt="Imagem Decorativa"
        class="imgTitle"
      />
    </div>
    <h1 class="tituloGrande">Alterar dados cadastrados</h1>
    <hr />
    <p>Saldo: {{saldo}}</p>
    <p>Limite: {{limite}}</p>
    <p>Gerente: {{gerente_nome}}</p>
  </div>
  <div class="col-lg-5">
    <form [formGroup]="form" (ngSubmit)="salvar()">
      <div class="row">
        <div class="col-12">
          <label for="nome" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            formControlName="nome"
            minlength="2"
            maxlength="100"
            [class.is-invalid]="
              form.get('nome')?.invalid &&
              (form.get('nome')?.touched || form.get('nome')?.dirty)
            "
          />
          <div
            class="invalid-feedback"
            *ngIf="
              form.get('nome')?.invalid &&
              (form.get('nome')?.touched || form.get('nome')?.dirty)
            "
          >
            Por favor insira um nome
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-7">
          <label for="email" class="form-label">E-mail</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            maxlength="100"
            [class.is-invalid]="
              form.get('email')?.invalid &&
              (form.get('email')?.touched || form.get('email')?.dirty)
            "
          />
          <div
            class="invalid-feedback"
            *ngIf="
              form.get('email')?.invalid &&
              (form.get('email')?.touched || form.get('email')?.dirty)
            "
          >
            Por favor insira um e-mail válido
          </div>
        </div>
        <div class="col-5">
          <label for="cpf" class="form-label">CPF</label>
          <input
            type="text"
            class="form-control"
            id="cpf"
            name="cpf"
            formControlName="cpf"
            placeholder="000.000.000-00"
            mask="000.000.000-00"
            readonly
          />
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="telefone" class="form-label">Telefone</label>
          <input
            type="text"
            class="form-control"
            id="telefone"
            formControlName="telefone"
            placeholder="(00)00000-0000"
            mask="(00)00000-0000"
            readonly
          />
        </div>
        <div class="col-6">
          <label for="salario" class="form-label">Salário</label>
          <input
            type="number"
            class="form-control"
            id="salario"
            formControlName="salario"
            placeholder="R$"
            [class.is-invalid]="
              form.get('salario')?.invalid &&
              (form.get('salario')?.touched || form.get('salario')?.dirty)
            "
          />
          <div
            class="invalid-feedback"
            *ngIf="
              form.get('salario')?.invalid &&
              (form.get('salario')?.touched || form.get('salario')?.dirty)
            "
          >
            Por favor insira um salário
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <div class="col-4">
            <label for="CEP" class="form-label">CEP</label>
            <input
              type="text"
              class="form-control"
              id="CEP"
              formControlName="CEP"
              placeholder="00000-000"
              mask="00000-000"
              [class.is-invalid]="
                form.get('CEP')?.invalid &&
                (form.get('CEP')?.touched ||
                  form.get('CEP')?.dirty)
              "
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.get('CEP')?.invalid &&
                (form.get('CEP')?.touched ||
                  form.get('CEP')?.dirty)
              "
            >
              Por favor insira um cep válido
            </div>
          </div>
          <div class="col-6">
            <label for="cidade" class="form-label">Cidade</label>
            <input
              type="text"
              class="form-control"
              id="cidade"
              formControlName="cidade"
              placeholder="Cidade"
              [class.is-invalid]="
                form.get('cidade')?.invalid &&
                (form.get('cidade')?.touched ||
                  form.get('cidade')?.dirty)
              "
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.get('cidade')?.invalid &&
                (form.get('cidade')?.touched ||
                  form.get('cidade')?.dirty)
              "
            >
              Por favor insira uma cidade
            </div>
          </div>
          <div class="col-2">
            <label for="estado" class="form-label">UF</label>
            <input
              type="text"
              class="form-control"
              id="estado"
              formControlName="estado"
              maxlength="2"
              placeholder="--"
              [class.is-invalid]="
                form.get('estado')?.invalid &&
                (form.get('estado')?.touched ||
                  form.get('estado')?.dirty)
              "
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.get('estado')?.invalid &&
                (form.get('estado')?.touched ||
                  form.get('estado')?.dirty)
              "
            >
              Por favor insira uma UF
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <label for="endereco" class="form-label">Endereço</label>
            <input
              type="text"
              class="form-control"
              id="endereco"
              formControlName="endereco"
              placeholder="Endereco"
              [class.is-invalid]="
                form.get('endereco')?.invalid &&
                (form.get('endereco')?.touched ||
                  form.get('endereco')?.dirty)
              "
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.get('endereco')?.invalid &&
                (form.get('endereco')?.touched ||
                  form.get('endereco')?.dirty)
              "
            >
              Por favor insira um endereço
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row-reverse align-items-end mt-3">
        <button type="submit" class="btnIcon border-0 bg-transparent">
          <i class="fa-solid fa-floppy-disk"></i>
        </button>
        <a routerLink="/client/home" routerLinkActive="active">
          <i class="fa-solid fa-location-arrow btnVoltar btnIcon"></i>
        </a>
      </div>

      <div *ngIf="mensagem" class="alert alert-info mt-3">
        {{ mensagem }}
      </div>
    </form>
  </div>
</div>
