<div class="row">

    <p>internet (img aqui) banking</p> 
    <h1>BANTADS</h1>
    <hr>
    <h3>Faça login ou cadastre-se para usar nossos serviços</h3>
    <hr>
    <div class="col-3">
        <div class="row">
    <a routerLink="/login"
                class="btn btn-primary btn-sm"
                routerLinkActive="active">Login</a>
    <a routerLink="/cadastro"
                class="btn btn-primary btn-sm"
                routerLinkActive="active">Cadastro</a>
    </div>
    </div>
</div>