<div class="container mainRosa d-flex flex-column justify-content-evenly">
  <div class="row d-flex justify-content-evenly">
    <p>
      INTERNET
      <img
        src="../../../../assets/img/home.png"
        alt="Imagem Decorativa"
        id="homeimg"
      />
      BANKING
    </p>
    <h1 class="tituloGrande">BANTADS</h1>
    <hr />
    <h3 class="subtitulo">
      Faça login ou cadastre-se para<br />usar nossos serviços
    </h3>
    <hr />
    <div class="col-3">
      <div class="row">
        <a routerLink="/login" class="btn btnAzulRosa" routerLinkActive="active"
          >LOGIN</a
        >
        <a
          routerLink="/cadastro"
          class="btn btnAzulRosa"
          routerLinkActive="active"
          >CADASTRO</a
        >
      </div>
    </div>
  </div>
</div>
