<div class="row">
  <div class="col-5">
    <hr>
    <h1>
      Depositar
    </h1>
    <hr>
  </div>
  <div class="col-5">
    <a routerLink="/client/home" class="button" routerLinkActive="active"><i
        class="fa-solid fa-location-arrow btnVoltar"></i>
    </a>
    <form [formGroup]="depositoForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="valor" class="form-label">Saldo a ser depositado</label>
        <input type="number" class="form-control" id="valor" name="valor" formControlName="valor" required placeholder="R$" />
      </div>
      <div>
        <button type="submit" [disabled]="depositoForm.invalid">Confirmar</button>
      </div>
    </form>
  </div>
</div>