<div class="row">
    <div class="col-5">
        <hr>
        <h1>
            Depositar
        </h1>
        <hr>
    </div>
    <div class="col-5">
        <a routerLink="/client/home"
                class="button"
                routerLinkActive="active"><i class="fa-solid fa-location-arrow btnVoltar"></i>
        </a>
        <div>
            <label for="saldo" class="form-label">Saldo a ser depositado</label>
            <input type="number" class="form-control" id="saldo" name="saldo" required placeholder="R$" />
          </div>
        <div>
        <button type="button">Confirmar</button>
        </div>
    </div>
</div>
