<div class="mainCreme">
  <div class="row mb-4">
    <div class="imgLine">
      <hr>
      <img src="../../../../assets/img/img3.png" alt="Imagem Decorativa" class="imgTitle"> 
    </div> 
    <h1 class="tituloGrande">
      Início
    </h1>
    <hr>
  </div>

  <div class="dashboard">
    <div class="dashitem" *ngFor="let dashboard of dashboards">
      <div><h5>{{ dashboard.gerente }}</h5></div>
      <div><h6>Clientes:</h6> <p>{{ dashboard.clientes }}</p></div>
      <div><h6>Saldos Positivos:</h6> <p>{{ dashboard.saldo_positivo }}</p></div>
      <div><h6>Saldos Negativos:</h6> <p>{{ dashboard.saldo_negativo }}</p></div>
    </div>
  </div>
</div>
