<div class="container">
    <div class="row">
        <div class="col-6">
            <hr>    
            <h1>
                Inicio
            </h1>
            <hr>
        </div>
    </div>
    <div class="dashboard">
        <div *ngFor="let dashboard of dashboards">
            <div><h6>{{dashboard.gerente}}</h6></div>
            <div><p>{{dashboard.clientes}}</p></div>
            <div><p>{{dashboard.saldo_positivo}}</p></div>
            <div><p>{{dashboard.saldo_negativo}}</p></div>
        </div>
    </div>
</div>

