.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 1rem; 
}

.dashitem{
  background-color: var(--azul);
  color: var(--creme);
  padding: 0.85rem;
}

h5 {
  font-family: "Allura";
  font-size: 2rem;
}

.mainCreme{
  padding-top: 5rem;
}
