<div class="row">
    <div class="col-4">
    <div class="container"> 
        <div class="row">
            <div class="col-6">
                <a routerLink="#"
                class="btn btn-primary btn-sm"
                routerLinkActive="active"><i class="fa-solid fa-file-invoice-dollar"></i><br>Consultar<br>Extrato</a>
            </div>
            <div class="col-6">
                <a routerLink="#"
                class="btn btn-primary"
                routerLinkActive="active"><i class="fa-solid fa-money-bill-transfer"></i><br>Transferir</a>                
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <a routerLink="/depositar"
                class="btn btn-primary"
                routerLinkActive="active"><i class="fa-solid fa-piggy-bank"></i><br>Depositar</a>
            </div>
            <div class="col-6">
                <a routerLink="#"
                class="btn btn-primary"
                routerLinkActive="active"><i class="fa-solid fa-money-bills"></i><br>Sacar</a>
            </div>
        </div>
        <div class="row">
            <a routerLink="/perfil"
                class="btn btn-primary"
                routerLinkActive="active">Alterar Dados Cadastrados</a>
        </div>
    </div>
    </div>
    <div class="col-8">
        <hr>
        <h1>Saldo</h1>
        <h3>R$0000.00</h3>
        <hr>
    </div>
</div>
