<div class="mainAzul">
<div class="row justify-content-center">
  <div class="col-md-4">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email" class="form-label">E-mail</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          formControlName="email"
          required
          email
        />
      </div>
      <div>
        <label for="senha" class="form-label">Senha</label>
        <input
          type="password"
          class="form-control"
          id="senha"
          name="senha"
          formControlName="senha"
          minlength="4"
          required
        />
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" [disabled]="loginForm.invalid" class="btn btnCreme" style="margin-top: 1rem;">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 d-flex flex-column justify-content-center">
    <hr>
    <h1 class="tituloGrande">Realize Seu Login</h1>
    <hr>
    <p>AINDA NÃO TEM UMA CONTA? REALIZE SEU CADASTRO <a routerLink="/cadastro"
      class="textLink"
      routerLinkActive="active">AQUI</a></p>
  </div>
</div>
</div>