<div class="row justify-content-center">
  <div class="col-4">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email" class="form-label">E-mail</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          formControlName="email"
          required
          email
        />
      </div>
      <div *ngIf="this.loginForm.get('email')?.errors">Por favor insira um e-mail válido</div>
      <div>
        <label for="senha" class="form-label">Senha</label>
        <input
          type="password"
          class="form-control"
          id="senha"
          name="senha"
          formControlName="senha"
          minlength="4"
          required
        />
      </div>
      <div *ngIf="this.loginForm.get('senha')?.errors">Por favor insira uma senha</div>
      <div>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
  </div>
  <div class="col-6">
    <hr>
    <h1>Realize Seu Login</h1>
    <hr>
    <p>Ainda não tem uma conta? Realize seu cadastro <a routerLink="/cadastro"
      class="textLink"
      routerLinkActive="active">aqui</a></p>
  </div>
</div>
