<div class="mainAzul">
<div class="row justify-content-center">
  <div class="col-md-4">
  <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome" minlength="2" maxlength="100" required />
        <div *ngIf="this.clienteForm.get('nome')?.errors">Por favor insira um nome</div>
      </div>
      </div>
      </div>

      <div class="row">
        <div class="col-7">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" formControlName="email" maxlength="100" required email />
        </div>
        <div *ngIf="this.clienteForm.get('email')?.errors">Por favor insira um e-mail válido</div>
        <div class="col-5">
          <label for="cpf" class="form-label">CPF</label>
          <input type="text" class="form-control" id="cpf" formControlName="cpf" required placeholder="000.000.000-00"
            mask="000.000.000-00" />
        </div>
        <div *ngIf="this.clienteForm.get('cpf')?.errors">Por favor insira um cpf válido</div>       
      </div>

      <div class="row">
        <div class="col-6">
          <label for="telefone" class="form-label">Telefone</label>
          <input type="text" class="form-control" id="telefone" formControlName="telefone" required placeholder="(00)00000-0000" mask="(00)00000-0000" />
        </div>
        <div *ngIf="this.clienteForm.get('telefone')?.errors">Por favor insira um telefone válido</div>
        <div class="col-6">
          <label for="salario" class="form-label">Salário</label>
          <input type="number" class="form-control" id="salario" formControlName="salario" required placeholder="R$" />
        </div>
        <div *ngIf="this.clienteForm.get('salario')?.errors">Por favor insira um salário</div>
      </div>

      <div formGroupName="endereco">
        <div class="row">
          <div class="col-4">
            <label for="tipo" class="form-label">Tipo</label>
            <input type="text" class="form-control" id="tipo" formControlName="tipo" required placeholder="Rua, Avenida..." />
          </div>
          <div *ngIf="this.clienteForm.get('endereco.tipo')?.errors">Por favor selecione uma opção</div>
          <div class="col-8">
            <label for="logradouro" class="form-label">Logradouro</label>
            <input type="text" class="form-control" id="logradouro" formControlName="logradouro" required placeholder="Logradouro" />
          </div>
          <div *ngIf="this.clienteForm.get('endereco.logradouro')?.errors">Por favor insira um logradouro</div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="numero" class="form-label">Nº</label>
            <input type="text" class="form-control" id="numero" formControlName="numero" required placeholder="00" />
          </div>
          <div *ngIf="this.clienteForm.get('endereco.numero')?.errors">Por favor insira um numero</div>
          <div class="col-9">
            <label for="complemento" class="form-label">Complemento</label>
            <input type="text" class="form-control" id="complemento" formControlName="complemento" placeholder="Bloco, AP..." />
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label for="cep" class="form-label">CEP</label>
            <input type="text" class="form-control" id="cep" formControlName="cep" required placeholder="00000-000" mask="00000-000" />
          </div>
          <div *ngIf="this.clienteForm.get('endereco.cep')?.errors">Por favor insira um cep válido</div>
          <div class="col-6">
            <label for="cidade" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="cidade" formControlName="cidade" required placeholder="Cidade" />
          </div>
          <div *ngIf="this.clienteForm.get('endereco.cidade')?.errors">Por favor insira uma cidade</div>
          <div class="col-2">
            <label for="estado" class="form-label">UF</label>
            <input type="text" class="form-control" id="estado" formControlName="estado" required maxlength="2" placeholder="--" />
          </div>
          <div *ngIf="this.clienteForm.get('endereco.cidade')?.errors">Por favor insira uma UF</div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" [disabled]="clienteForm.invalid" class="btn btnCreme" style="margin-top: 1rem;">CADASTRE-SE</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 d-flex flex-column justify-content-center">
    <hr>
    <h1 class="tituloGrande">Realize Seu Cadastro</h1>
    <hr>
    <p>SUA SOLICITAÇÃO SERÁ ENVIADA PARA UM GERENTE PARA ANÁLISE<br>JÁ TEM UMA CONTA? REALIZE SEU LOGIN <a routerLink="/login"
              class="textLink"
              routerLinkActive="active">AQUI</a></p>
  </div>
</div>
</div>