<div class="row mainRosa justify-content-evenly gap-1">
  <div class="col-lg-5 d-flex flex-column justify-content-center">
    <div class="imgLine">
      <hr />
      <img
        src="../../../../assets/img/img1.png"
        alt="Imagem Decorativa"
        class="imgTitle"
      />
    </div>
    <h1 class="tituloGrande">Consultar Cliente</h1>
    <hr />
  </div>

  <div class="col-lg-5 d-flex flex-column justify-content-center" style="text-align: left">
    <div class="row justify-content-end mb-3">
      <div class="col-5">
        <input
          class="form-control"
          type="text"
          name="search"
          id="search"
          placeholder="000.000.000-00"
          [(ngModel)]="searchCpf"
          mask="000.000.000-00"
        />
      </div>
      <div class="col-1">
        <button class="btn p-0" (click)="consultarCliente()">
          <i class="fa-solid fa-magnifying-glass btnIcon"></i>
        </button>
      </div>
    </div>

    <div *ngIf="cliente">
      <div class="row mb-2">
        <h5>Nome</h5>
        <p>{{ cliente.nome }}</p>
      </div>

      <div class="row mb-2">
        <div class="col-7">
          <h5>E-mail</h5>
          <p>{{ cliente.email }}</p>
        </div>
        <div class="col-5">
          <h5>CPF</h5>
          <p>{{ cliente.cpf | mask: "000.000.000-00" }}</p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-6">
          <h5>Telefone</h5>
          <p>{{ cliente.telefone }}</p>
        </div>
        <div class="col-6">
          <h5>Salário</h5>
          <p>{{ cliente.salario | currency: "BRL" : "symbol" : "1.2-2" }}</p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-7">
          <h5>Cidade</h5>
          <p>{{ cliente.cidade }}</p>
        </div>
        <div class="col-2">
          <h5>UF</h5>
          <p>{{ cliente.estado }}</p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-12">
          <h5>Endereço</h5>
          <p>{{ cliente.endereco }}</p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-4">
          <h5>Conta</h5>
          <p>{{ cliente.conta }}</p>
        </div>
        <div class="col-4">
          <h5>Saldo</h5>
          <p>{{ cliente.saldo | currency: "BRL" : "symbol" : "1.2-2" }}</p>
        </div>
        <div class="col-4">
          <h5>Limite</h5>
          <p>{{ cliente.limite | currency: "BRL" : "symbol" : "1.2-2" }}</p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-6">
          <h5>Gerente</h5>
          <p>{{ cliente.gerente_nome }}</p>
        </div>
        <div class="col-6">
          <h5>E-mail do gerente</h5>
          <p>{{ cliente.gerente_email }}</p>
        </div>
      </div>
    </div>


    <div class="d-flex justify-content-end mt-3">
      <a routerLink="/gerente/home" class="btnIcon" routerLinkActive="active">
        <i class="fa-solid fa-location-arrow btnVoltar"></i>
      </a>
    </div>
  </div>
</div>
