<div class="row">
    <div class="col-5">
        <hr>
        <h1>
            Consultar Cliente
        </h1>
        <hr>
    </div>
    <div class="col-5">
        <div> 
            <input 
                type="text" 
                name="search"
                id="search"
                placeholder="Digite o CPF do cliente"
            />        
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
        <div>
        <div class="row">
          <h5>Nome</h5>
          <p>{{cliente.nome}}</p>
        </div>
        <div class="row">
          <div class="col-7">
            <h5>E-mail</h5>
            <p>{{cliente.email}}</p>
          </div>
          <div class="col-5">
            <h5>CPF</h5>
            <p>{{cliente.cpf}}</p>
          </div>        
        </div>
        <div class="row">
          <div class="col-6">
            <h5>Salário</h5>
            <p>{{cliente.salario}}</p>
          </div>
          <div class="col-6">
            <h5>Limite</h5>
            <p>{{cliente.limite}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <h5>CEP</h5>
            <p>{{cliente.endereco?.cep}}</p>
          </div>
          <div class="col-7">
            <h5>Cidade</h5>
            <p>{{cliente.endereco?.cidade}}</p>
          </div>
          <div class="col-2">
            <h5>UF</h5>
            <p>{{cliente.endereco?.estado}}</p>
          </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h5>Tipo</h5>
                <p>{{cliente.endereco?.tipo}}</p>
            </div>
            <div class="col-8">
                <h5>Logradouro</h5>
                <p>{{cliente.endereco?.logradouro}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <h5>Nº</h5>
                <p>{{cliente.endereco?.numero}}</p>
            </div>
            <div class="col-9">
                <h5>Complemento</h5>
                <p>{{cliente.endereco?.complemento}}</p>
            </div>
        </div>
        </div>

        <a routerLink="/gerente/home"
            class="button"
            routerLinkActive="active"><i class="fa-solid fa-location-arrow btnVoltar"></i></a>
    </div>
</div>

