<div class="row">

    <hr>    
    <h1>
      Melhores Clientes
    </h1>
    <hr>>
    <a routerLink="/gerente/home"
        class="button"
        routerLinkActive="active"><i class="fa-solid fa-location-arrow btnVoltar"></i>
    </a>

    <div>    
      <table>
        <thead>
          <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Saldo</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>


</div>