<div class="row mainRosa justify-content-evenly">

    <hr>    
    <h1 class="tituloGrande">
      Melhores Clientes
    </h1>
    <hr>
    <div class="d-flex justify-content-end">
    <a routerLink="/gerente/home"
        class="btnIcon"
        routerLinkActive="active"><i class="fa-solid fa-location-arrow btnVoltar"></i>
    </a>
    </div>
    <div class="tabelaListagem">    
      <table>
        <thead>
          <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Saldo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{cliente.cpf | mask: '000.000.000-00'}}</td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.endereco.cidade}}</td>
            <td>{{cliente.endereco.estado}}</td>
            <td>{{cliente.saldo}}</td>
          </tr>   
        </tbody>
      </table>
    </div>
</div>