<div class="container">
    <hr>
    <h1>Extrato</h1>
    <hr>
    <div class="d-flex flex-row-reverse">
        <a (click)="toggleFiltro()"><i class="fa-solid fa-filter"></i></a>
        <a routerLink="/client/home"
                class="button"
                routerLinkActive="active"><i class="fa-solid fa-location-arrow btnVoltar"></i>
        </a>
    </div>
    <div *ngIf="mostrarFiltro">
        <label for="inicio">Data de Início:</label>
        <input type="date" id="inicio" [(ngModel)]="dataInicio">

        <label for="fim">Data de Fim:</label>
        <input type="date" id="fim" [(ngModel)]="dataFim">

        <button (click)="aplicarFiltro()">Aplicar</button>
    </div>
    <div class="d-flex flex-column" *ngFor="let dia of (extratosPorDia | keyvalue)">
        <div><h3>{{ dia.key }}</h3></div>
        <div><table>
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Operação</th>
                    <th>Origem</th>
                    <th>Destino</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of dia.value">
                    <td>{{ t.data }}</td>
                    <td>{{ t.tipo }}</td>
                    <td>{{ t.origem }}</td>
                    <td>{{ t.destino }}</td>
                    <td>{{ t.valor }}</td>
                    </tr>
            </tbody>
        </table></div>
        <hr>
    </div>

</div>
