footer {
  background-color: #333;
  color: var(--creme);
  padding: 20px;
  margin: 0px;
  min-width: 100vw;
  font-size: 12px;
  line-height: 1;
}

#kitty {
  max-width: 150px;
  border-radius: 10px;
}
